# Logs
logs
*.log

# Dependency directories
node_modules/

# Cache directories
.npm
.cache

# Build output
build/
css/

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env*

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrit
