:not(pre) > code {
  font-size: 0.93em;
  font-style: normal !important;
  letter-spacing: 0;
  padding: 0.2em 0.5ex 0.1em 0.5ex;
  word-spacing: -0.15em;
  border-radius: 4px;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  word-wrap: break-word;
  background-color: var(--code-background);
  color: var(--code-text);

  background-color: var(--code-background);
  color: var(--code-text);

  &.nobreak {
    word-wrap: normal;
  }
  &.nowrap {
    white-space: nowrap;
  }
}

pre {
  line-height: 1.4;
  > code {
    display: block;
  }

  .nowrap,
  .nowrap pre {
    white-space: pre;
    word-wrap: normal;
  }
}
