.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.stretch {
  width: 100%;
}

.unbreakable {
  page-break-inside: avoid;
}

.big {
  font-size: larger;
}

.small {
  font-size: smaller;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

@each $color
  in (
    aqua,
    black,
    blue,
    fuchsia,
    gray,
    green,
    lime,
    maroon,
    navy,
    olive,
    purple,
    red,
    silver,
    teal,
    white,
    yellow
  )
{
  .#{$color} {
    color: var(--#{$color}, scale-color($color, $lightness: -25%));
  }

  .#{$color}-background {
    background-color: var(--#{$color}-background, scale-color($color, $lightness: -2%));
  }
}
